@media(max-width: 480px) {
   body {
    margin-top: 200px;
   }

    .cartao {
        width: 400px;
        height: 600px;
        margin-left: 50px;
        margin-right: 50px; 
    }

    .barra {
        margin-top: 100px;
    }
    .icone {
        width: 400px;
        margin-left: 50px;
        margin-right: 50px;    
    }
}

@media(max-width: 435px) {
    .cartao {
        height: 500px;
    }

    .barra {
        margin-top: 40px;
        margin-bottom: 30px;
    } 
}

@media(max-width: 395px) {
    .cartao {
        width: 350px;
        height: 500px;
        margin-left: 75px;
        margin-right: 75px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .icone {
        width: 350px;
        margin-left: 75px;
        margin-right: 75px;
    }
}