@media(max-width: 480px) {
    body {
        padding: 10px;
    }

    .bar {
        margin-top: 10px;
        margin-bottom: 50px;
    } 
}

@media(max-width: 435px) {
    .card {
        height: auto;
    }
}