html, body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
body {
    background-color:#292b2a ;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 500px;
    height: 400px;
}

.card {
    border-radius: 15px;
    display: flex;
    min-height: 380px;
    flex-direction: column;
    align-items: center;
    position: relative;  
}

.card, .icon{
    background-color:  #4c504a;

}

.title {
    font-size: 27px;
    margin: 20px 0 2px 0;
    font-family: "montserrat", sans-serif;
    color: #23b513;
}

.div-message {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    padding: 0 10px; 
}

#message {
    font-size: 23px;
    text-align: center;
    font-family: "roboto mono", sans-serif;
    color: white;
    transition: color 0.3s ease;
}

#message.loading {
    color: #f39c12;
    font-style: italic;
}

#message.sucess {
    color: #2ecc71;
    font-weight: bold;
}

#message.error {
   color: #e74c3c;
   font-weight: bold; 
}

.bar {
    position: absolute;
    bottom: 25%;
}

button{
    cursor: pointer;
}

button, button:focus-visible, button:active  {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
}

.icon {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    max-width: 500px;
    height: 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.background-image {
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    width: 80px ;
    height: auto;
}

.background-image:hover{
    box-shadow: 0px 0px 20px 10px #23b513;  
}

.superimposed-image {
    position: absolute;
    max-width: 30px;
    width: 100%;
    height: 30px;
}

.icon:hover .background-image {
    box-shadow: 0px 0px 20px 10px #23b513;
}